/src/IDI.Central/bin
/src/IDI.Central/obj
/src/IDI.Core/bin
/src/IDI.Core/obj
/src/.vs/IDI.Central/v15/*.suo
/src/.vs
/src/IDI.Central.Models/bin
/src/IDI.Central.Models/obj
/src/IDI.Central.Domain/bin
/src/IDI.Central.Domain/obj
/src/IDI.Core.Tests/bin
/src/IDI.Core.Tests/obj
/src/IDI.Central.Domain.Tests/obj
/src/IDI.Central.Domain.Tests/bin
/src/IDI.Central.Tests/obj
/src/IDI.Central.Tests/bin
/src/IDI.Central/*.user
/src/IDI.Central/Properties/PublishProfiles/*.user
/src/IDI.Central/Properties/PublishProfiles
/src/IDI.Central.Domain/*.user
