<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <permissions>
    <permission name="Address" template="api/addr" type="api">
      <action name="create" method="POST" template="" />
      <action name="delete" method="DELETE" template="{id}" />
      <action name="update" method="PUT" template="{id}" />
    </permission>
    <permission name="Category" template="api/catg" type="api">
      <action name="get" method="POST" template="" />
    </permission>
    <permission name="Customer" template="api/cust" type="api">
      <action name="create" method="POST" template="" />
      <action name="delete" method="DELETE" template="{id}" />
      <action name="get" method="GET" template="{id}" />
      <action name="update" method="PUT" template="{id}" />
      <action name="get-all" method="GET" template="list" />
    </permission>
  </permissions>
</configuration>


