<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>IDI Central <sup>&reg;</sup></h1>
                    <br />
                    <p class="text-left">
                        IDI Central <sup>&reg;</sup> is a lightweight and open source development framework base on .Net Core
                        <ul class="text-left">
                            <li>Provides a perfect API solution for Website, Mobile and WeChat.</li>
                            <li>Standard edition applies to small or medium applications.</li>
                            <li>Professional edition applies to enterprise applications.</li>
                        </ul>
                    </p>
                    <br />
                    <p><a class="btn btn-lg btn-success" href="#" role="button">Getting Started</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>ASP.NET Core</h1>
                    <p class="text-left">
                        ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based, Internet-connected applications. With ASP.NET Core, you can:
                        <ul class="text-left">
                            <li>Build web apps and services, IoT apps, and mobile backends.</li>
                            <li>Use your favorite development tools on Windows, macOS, and Linux.</li>
                            <li>Deploy to the cloud or on-premises</li>
                            <li>Run on .NET Core or .NET Framework.</li>
                        </ul>
                    </p>
                    <p><a class="btn btn-lg btn-primary" target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Entity Framework Core</h1>
                    <p class="text-left">
                        Entity Framework (EF) Core is a lightweight, extensible, and cross-platform version of the popular Entity Framework data access technology.
                        <ul class="text-left">
                            <li>EF Core is an object-relational mapper (O/RM) that enables .NET developers to work with a database using .NET objects.</li>
                            <li>It eliminates the need for most of the data-access code that developers usually need to write.</li>
                            <li>EF Core supports many database engines, see Database Providers for details.</li>
                        </ul>
                    </p>
                    <p><a class="btn btn-lg btn-primary" target="_blank" href="https://docs.microsoft.com/en-us/ef/core/index" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/assets/images/security.svg" alt="Generic placeholder image" width="140" height="140">
            <h2>Security</h2>
            <p>In the aspect of security control, system adopted the way of role-based user access control for ensuring the safety of the system.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/assets/images/performance.svg" alt="Generic placeholder image" width="140" height="140">
            <h2>Performance</h2>
            <p>In the aspect of performance, system guarantees the performance of the system through pressure test.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-rounded" src="~/assets/images/self-adaption.svg" alt="Generic placeholder image" width="140" height="140">
            <h2>Self-Adaption</h2>
            <p>The system UI adopts responsive layout and can be applied to all kinds of platforms.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr class="featurette-divider">

    @*<div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">*@
</div>
